# App
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_DEFAULT_LANGUAGE=ko

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_REF=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx

# Google AI Studio
GOOGLE_GENERATIVE_AI_API_KEY=AIzaSyXXXX

